<h2>Reactivo: Básicos</h2>
<hr>
<div class="row">
    <div class="col">
        <form [formGroup]="myForm">

            <!-- Campo de producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">
                    <input  type="text"
                            class="form-control"
                            formControlName="name"
                            placeholder="Nombre del producto"
                            autocomplete="off">

                    <span class="form-text text-danger">
                          Debe de ser de tres letras</span>
                </div>
            </div>
            

            <!-- Campo de precios -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input  type="number"
                            class="form-control"
                            formControlName="price"
                            placeholder="Precio del producto">
                    <span class="form-text text-danger">
                    El precio debe ser 0 o mayor</span>
                </div>
            </div>
            

            <!-- Campo de existencias -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <input  type="number"
                            class="form-control"
                            formControlName="existence"
                            placeholder="Existencias del producto">
                </div>
            </div>

            <!-- buttom -->
            <div class="row">
                <div class="col">
                    <button type="submit"
                            class="btn btn-primary float-end">
                        Guardar
                    </button>
                </div>
            </div>
        </form>  
    </div>
</div>


<div class="row">
    <div class="column">

        <span>Valide</span> 
        <pre>{{ myForm.valid }}</pre> <!--Depende del required -->

        <span>Pristine</span>
        <pre>{{ myForm.pristine }}</pre> <!--No se a cambiado los valores-->
        
        <span>Touched</span>
        <pre>{{ myForm.touched }}</pre><!--Si el user a tocado el formulario-->

        <span>Value</span>
        <pre>{{ myForm.value | json }}</pre>
        
    </div>
</div>