<h2>Validaciones Reactivas</h2>
<hr>
<div class="row">
    <div class="col">
        <form [formGroup]="myForm" (ngSubmit)="submitForm()" autocomplete="off">

            <!-- Nombre -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input  type="text"
                            formControlName="name"
                            class="form-control"
                            placeholder="Nombre de usuario">
                    <span   class="text-danger"
                            *ngIf="campNoValid('name')">Debe ser en formato nombre y apellido</span>
                </div>
            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input  type="email"
                            class="form-control"
                            formControlName="email"
                            placeholder="Email del usuario">
                    <span   class="text-danger"
                            *ngIf="campNoValid('email')">El correo es obligatorio</span>
                </div>
            </div>

            <!-- Username -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nickname</label>
                <div class="col-sm-9">
                    <input  type="text"
                            class="form-control"
                            formControlName="username"
                            placeholder="Nombre codigo del usuario">
                    <span   class="text-danger"
                            *ngIf="campNoValid('username')">No puede ser roys</span>
                </div>
            </div>

            <!-- Password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Contraseña</label>
                <div class="col-sm-9">
                    <input  type="password"
                            class="form-control"
                            formControlName="password"
                            placeholder="Contraseña">
                    <span   class="text-danger"
                            *ngIf="campNoValid('password')">Contraseña debe ser mayor a 6 caracteres</span>
                </div>
            </div>
            
            <!-- Password2 -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar contraseña</label>
                <div class="col-sm-9">
                    <input  type="password"
                            class="form-control"
                            formControlName="password2"
                            placeholder="Confirmar contraseña">
                    <span   class="text-danger"
                            *ngIf="campNoValid('password2')">Contraseña deben ser iguales</span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end"
                            type="submit"
                            [disabled]="myForm.pending">
                            Crear
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<h2>Form </h2>
<pre>Form Valid: {{ myForm.valid }}</pre>
<pre>Form Status: {{ myForm.status }}</pre>
<pre>Form Pending: {{ myForm.pending }}</pre>

<h2>Form General Errors</h2>
<pre>{{ myForm.errors | json }}</pre>
<h2>Form Errors</h2>
<pre>name: {{ myForm.controls["name"].errors | json }}</pre>
<pre>Email: {{ myForm.controls["email"].errors | json }}</pre>
<pre>UserName: {{ myForm.controls["username"].errors | json }}</pre>
<pre>Password: {{ myForm.controls["password"].errors | json }}</pre>
<pre>Password2: {{ myForm.controls["password2"].errors | json }}</pre>